{
  "ccu": {
    "host": "0.0.0.0",
    "port": 18901,
    "name": "ccu"
  },
  "hes_server_url": "http://frappe.localhost:8001/api/method/meter_client.api.v1.receive_readings",
  "log": {
    "file": "app.log",
    "level": 10,
    "_comment": "logging.DEBUG"
  },
  "bulk_write_requests": {
    "host": "0.0.0.0",
    "port": 18902
  },
  "redis": {
    "host": "0.0.0.0",
    "port": 6379,
    "db": 0
  }
}